* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
}

/* header */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2b2e83; 
    padding: 10px 20px;
    color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 15px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.container {
    padding: 2em;
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.profile-picture {
    max-width: 150px;
    margin: 1em auto;
}

.profile-picture img {
    width: 100%;
    border-radius: 50%;
}

h1, h2 {
    color: #6c63ff;
}

p {
    line-height: 1.6;
    margin-bottom: 1em;
}

ul {
    list-style-type: disc;
    padding-left: 1.5em;
    text-align: left;
}

li {
    margin-bottom: 0.5em;
}
/* Footer */
.footer {
    background-color: #2b2e83;
    color: white;
    text-align: center;
    padding: 20px;
}